.sidebar {
  width: 250px;
  min-height: 100vh;
  flex-shrink: 0;

  background: #1e2a78;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: #3b82f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h2 {
  margin: 0;
  font-size: 16px;
}

.logo span {
  font-size: 12px;
  opacity: 0.7;
}

.menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.item:hover {
  background: rgba(255,255,255,0.1);
}

.item.active {
  background: rgba(255,255,255,0.2);
  border-left: 4px solid #60a5fa;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255,255,255,0.1);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;

  /* SOLO CAMBIÓ EL COLOR */
  background: linear-gradient(
    45deg,
    #60a5fa,
    #3b82f6
  );

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.perfil p {
  margin: 0;
  font-size: 14px;
}

.perfil span {
  font-size: 12px;
  opacity: 0.7;
}